* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: #DA4453;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);

}

.form {
    border: black 2px solid;
    border-radius: 8px;
}

#typePasswordX {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

#typePasswordX:focus {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #000000;
    outline: none;
}

#typeUsernameX {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

#typeUsernameX:focus {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #000000;
    outline: none;
}