* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: #DA4453;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);

}

.form-control {
    border: 1px solid black;
}